.filterContainer {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.filterHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.filterTitleWithIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.resetButton {
  color: var(--primary-color);
  padding: 4px 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: none;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  display: none;
}

.filterContent {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  margin-top: 10px;
  border-radius: 8px;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.filterContent.open {
  max-height: 1000px;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

.filterSection {
  margin-bottom: 20px;
  text-align: left;
}

.filterTitle {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.filterLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  font-size: 16px;
}

.filterInput {
  cursor: pointer;
}

.mobileResetButton {
  display: block;
  position: absolute;
  right: 8px;
  color: var(--primary-color);
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: none;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filterContainer {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
  }

  .mobileResetButton {
    display: none;
  }

  .resetButton {
    display: block;
  }
  .filterHeader {
    border: none;
    padding: 0;
    background: transparent;
    margin-bottom: 20px;
  }

  .toggleButton {
    display: none;
  }

  .resetButton {
    display: inline-block;
  }

  .filterContent {
    display: block !important;
    max-height: none !important;
    opacity: 1 !important;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
}
