.home {
  display: flex;
  flex-direction: column;
  position: relative;
}

.left {
  flex: 50%;
  overflow: hidden;
  min-height: 100vh;
  background: #0c3318db;
  align-content: center;
  color: #ffffffdf;
  line-height: 1.4;
  padding: 20px;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(4px);
}

.title {
  font-size: 60px;
  position: relative;
  font-weight: 500;
  animation: slideInLeft 1.2s ease forwards;
}

.description,
.button {
  animation: fadeUp 1.2s ease forwards;
}

.description {
  margin-top: 20px;
}

.title,
.description,
.button {
  z-index: 5;
}

.box1 {
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 120px;
  top: -360px;
  left: -180px;
  background: #d9ff001b;
  animation: spin 20s linear infinite;
  z-index: 1;
}

.box2 {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 200px;
  top: -280px;
  left: -150px;
  background: #66ff001b;
  animation: spin 40s linear infinite;
  z-index: 0;
}
.button {
  margin-top: 50px;
  background: #ffffff;
  color: #000000;
}

.right {
  flex: 50%;
  position: relative;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .home {
    flex-direction: row;
  }

  .title {
    font-size: 80px;
 
  }

  .left {
    padding: 80px;
    background: var(--primary-color);
  }

  .left,
  .right {
    min-height: 100vh;
    position: relative;
  }

  .box1 {
    top: -180px;
    left: -180px;
  }

  .box2 {
    top: -150px;
    left: -150px;
  }
}
