.home {
    display: flex;
    flex-direction: column;
}

.left,
.right {
    flex: 1;
    overflow: hidden;
    min-height: 80vh;
}

.left {
    background: #419726;
    align-content: center;
    color: #ffffffdf;
    line-height: 1.4;
    padding: 20px;
}

h1 {
    font-size: 80px;
}

.left .btn {
    margin-top: 50px;
}

.right {
    position: relative;
}

@media (min-width: 768px) {
    .home {
        flex-direction: row;
    }

    .left {
        padding: 40px;
    }

    .left,
    .right {
        min-height: 100vh;
    }
}