.card,
.content {
  line-height: 1.5;
  border-radius: 12px;
  padding: 2px;
  overflow: hidden;
  user-select: none;
  text-align: center;
  position: relative;
  border: 1px solid #0000001f;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.content {
  border-radius: 10px;
  padding: 8px;
  position: relative;
  background: #ffffff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  z-index: 1;
  transition: all 0.25s ease;
  outline: none;
}

.content:active {
  transform: scale(0.98);
}

.card::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  width: 100px;
  border: none;
  outline: none;
  height: 800px;
  bottom: -40%;
  background: linear-gradient(#1c4a2a, #2dc75c);
  transition: opacity 300ms;
  animation: rotation_9018 8000ms infinite linear;
  animation-play-state: paused;
  filter: blur(40px);
}

.card:hover::before {
  opacity: 1;
  animation-play-state: running;
}

.card::after {
  position: absolute;
  content: " ";
  display: block;
  /* width: 250px;
  height: 360px; */
  backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ripple {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.137);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.4s linear;
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.cardBottom {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-top: 8px;
  width: 100%;
}

.emptyStar {
  color: #f39c12;
  width: 16px;
  height: 16px;
}

.profileImage {
  margin-top: 8px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin: 8px 0;
  font-size: 18px;
  font-weight: 500;
}

.details {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
  color: #6c757d;
  margin-bottom: 10px;
  align-items: center;
  flex-direction: column;
}

.detail {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  width: 14px;
  height: 14px;
}

.ratings {
  margin: 16px auto;
  font-size: 14px;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.star {
  fill: #f39c12;
  color: #f39c12;
  width: 16px;
  height: 16px;
}

.bookButton {
  width: 100%;
  padding: 12px 4px;
  margin-top: auto;
  background: transparent;
  border: 1px solid #00000021;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-bottom: 10px;
}

.bookButton:hover {
  background-color: #2e7d32;
  color: white;
}
.ratings span {
  display: none;
}

@media (min-width: 768px) {
  .card {
    padding: 2px;
  }
  .card::before {
    width: 180px;
  }
  .ratings span {
    display: flex;
  }
  .details {
    flex-direction: row;
  }

  .content {
    padding: 16px;
  }

  .cardBottom {
    padding-top: 20px;
  }

  .profileImage {
    margin-top: 20px;
  }

  .ratings {
    margin: 28px auto;
  }

  .name {
    margin: 12px 0;
    font-size: 24px;
  }

  .details {
    font-size: 12px;
    gap: 12px;
  }

  .bookButton {
    padding: 20px 10px;
    font-size: 16px;
  }
}
